{{ 'platter-best-sellers-component.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} section-{{ section.id }}">
    <div class="w-full px-5 md:px-[4vw] lg:px-[6vw] md:!pr-0 py-10">

        {% if section.settings.collection != blank %}
            <div class="flex items-center justify-between mb-6 pr-[10vw] md:pr-[10vw] lg:pr-[6vw]">
                <h2 class="heading text-3xl md:!text-6xl !font-bold">
                    {{ section.settings.collection.title }}
                </h2>
                <a href="{{ section.settings.collection.url }}"
                    class="subheading hidden md:!inline-flex font-medium">
                    Shop All {{ section.settings.collection.title }} →
                </a>
            </div>
        {% endif %}

        <div class="platter-grid grid-cols-2 gap-3 sm:flex sm:gap-4 md:gap-6 lg:gap-8 overflow-x-auto scroll-smooth pb-3 pr-0">
            {% for item in section.settings.collection.products %}
                <div class="platter-card w-full sm:min-w-[160px] md:min-w-[200px] lg:min-w-[250px] {% if forloop.index0 >= 4 %}platter-card--hidden max-sm:hidden{% endif %}" data-index="{{ forloop.index0 }}">
                    {% render 'platter-card-product',
                        card_product: item,
                        id: forloop.index0,
                        image_ratio: section.settings.image_ratio %}
                </div>
            {% else %}
                <p class="text-center col-span-full">
                    No products found in this collection.
                </p>
            {% endfor %}
        </div>

        <div class="flex justify-center mt-8 sm:hidden mx-auto">
            <button class="button w-full">Show More</button>
        </div>
    </div>
</div>

<script defer>
    const PlatterBestSellers = {
        wrapperBestSellers: null,
        cardProducts: null,
        init() {
            this.wrapperBestSellers = document.querySelector('.section-{{ section.id }}');
            this.cardProducts = this.wrapperBestSellers.querySelectorAll('.platter-card--hidden');
            this.bindEvents();
        },
        bindEvents() {
            const button = this.wrapperBestSellers.querySelector('.button');
            if (button) {
                button.addEventListener('click', this.showMore.bind(this));
            }
        },
        showMore() {
            this.cardProducts.forEach((item, index) => {
                item.classList.remove('max-sm:hidden', 'platter-card--hidden');
            });
            this.cardProducts = this.wrapperBestSellers.querySelectorAll('.platter-card--hidden');
            if (this.cardProducts.length === 0) {
                const button = this.wrapperBestSellers.querySelector('.button');
                if (button) {
                    button.style.display = 'none';
                }
            }
        }
    }
    PlatterBestSellers.init();
</script>

{% schema %}
{
    "name": "Best Sellers",
    "tag": "section",
    "class": "section-platter-best-sellers",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "scheme-1"
        },   
        {
            "type": "header",
            "content": "Collection"
        },         
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        },
        {
            "type": "header",
            "content": "Layout"
        },         
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                    "value": "adapt",
                    "label": "Adapt to image"
                },
                {
                    "value": "portrait",
                    "label": "Portrait"
                },
                {
                    "value": "square",
                    "label": "Square"
                }
            ],
            "default": "square",
            "label": "Image ratio"
        },        
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Bottom",
            "default": 52
        }
    ],
    "presets": [
        {
            "name": "Best Sellers",
            "category": "Platter"
        }
    ]
}
{% endschema %}
